<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<style>
      #map_canvas {
          text-align: center;
			height: 472px;
  width: 980px;
  margin: auto;
  border: 5px solid #80c2d0;
  border-radius: 5px;
  margin-left: -7px;
  position: relative;
      }
</style>
<img src="/images/new_banner.png" style="border: 5px solid #000000;
    border-radius:5px;"/>
<!--<h1> Beach Nourishment Viewer</h1>
<h3> Program for the study of Developed Shorelines @ WCU</h3>-->
{{{title}}}

</head>

<body bgcolor="#4db5ff">
   <table>
    {{{body}}}
   </table>
</body>
</html>
