<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="css/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    {{{title}}}
</head>


<body>
<header class="navbar-inverse" role="banner">
    <div class="container">
        <nav role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Beach Nourishment</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li> <!--class="active"--><a href="/">Home<!--<span class="sr-only"></span>--></a></li>
                        <li><a href="/oneState?state=NC">Results</a></li>
                        <li class="dropdown">
                        <li><a href="http://psds.wcu.edu/">PSDS Website</a></li>
                        <li><a href="http://psds.shutterfly.com/">PSDS Images</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class=".col-xs-12 .col-sm-6 .col-md-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <img src="/images/banner.png" width="744px" height="90px"
                                     class="img-responsive"/>
                            </div>

                            <div class="col-sm-1">
                                <a href="https://www.facebook.com/WCUPSDS/"><img class="facebook-logo" width="40px" src="/images/facebook.png"
                                     class="img-responsive"/></a>
                            </div>

                            <div class="col-sm-2">
                                <a href="http://www.wcu.edu"><img class="wcu-logo" width="80px" height="40px" src="images/logos/wcu_index_logo.jpg"
                                     class="img-responsive"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr size="3" width="100%"/>
            {{{body}}}
        </div>
    </div>
</div>


<!--Script used for Browser Detection-->
<script type="text/javascript" src="javascript/browser_detect.js"></script>
<!--The script that helps make everything move-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!--Script that will help resize the image map plugin-->
<script type="text/javascript" src="javascript/imageMapResizer.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="javascript/bootstrap.min.js"></script>

</body>
</html>
