<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<h1> Beach Nourishment Viewer</h1>
<h3> Program for the study of Developed Shorelines @ WCU</h3>
{{{title}}}

</head>

<body bgcolor="#4db5ff">
    
    {{{body}}}
</body>
</html>
