<!doctype html>
<p><h3>The U.S. Beach Nourishment Experience</h3>
Western Carolina University PSDS beach nourishment database is
the result of over 15 years of ongoing research and data collection.
The information in our database represents, to the best of our
knowledge, the most comprehensive compilation of beach nourishment
history in the United States.
</p>

<p>
    Under constant revision, the nourishment catalog contains locations,
    primary funding sources, volumes (in cubic yards), length (in feet
    upon which sand was deposited) and actual costs for most documented
    nourishment episodes. It should be noted that complete information
    is not available in every case, due to data discrepancies and
    availability, and we encourage you to inform us if you discover
    incorrect or overlooked data. Please feel free to also inform us
    of ongoing nourishment projects of which you may be aware.
</p>

<p>
    Our principle goal, as scientific advocates, is to provide a source
    of comprehensive information to all stakeholders involved in the
    beach nourishment debate. Coastal planners, legislators and
    lobbyists, community members and coastal residents, researchers,
    engineers and students alike will find this national database a
    useful tool since much of the data formerly available has been
    local in nature. Local policy analysts and decision makers can
    glean important lessons learned by applying and comparing cost
    and volume statistics of other regions.
</p>
<br>
<p><h3>Explanation of Funding Category</h3>
A primary funding type or category (where available) is listed for
each nourishment episode (e.g. Federal or Local). For federally
funded, congressionally authorized projects, this indicates that
the funding source was the largest contributor, although local or
other sources likely provided funding in a minority share.
</p>
<br>
<p><h3>Explanation of Cost Figures</h3>
Actual Cost (where available) refers to actual dollars spent in the
year the episode was completed. When no documented cost could be
obtained for individual episodes, an average cost figure may be
used. These average cost figures were calculated as an average (per
cubic yard of fill) of all other nourishment episodes within the
same funding category and/or geographical region.
</p>
<br>
<h3>Program for the Study of Developed Shorelines (PSDS) Staff</h3>
<div class="container">
    <div class="row">
        <div class="pull-left">
            <img class="dev-pic" src="images/devs/coburn.jpg"/>
        </div>
        <p class="col-md-8 col-xs-12">
            <br>
            <b>Andrew Coburn</b> - Associate Director of the Program for the Study
            of Developed Shorelines who is currently developping and
            maintaining the beach nourishment database at Western
            Carolina University.
        </p>
    </div>

    <p></p>

    <div class="row">
        <div class="pull-left">
            <img class="dev-pic" src="images/devs/rob.jpg"/>
        </div>
        <p class="col-md-8 col-xs-12">
            <br>
            <b>Dr. Robert Young</b> - Director of the Program for
            the Study of Developed Shorelines, a joint
            Duke University/Western Carolina University venture.
            He is also a Professor of Coastal Geology at Western
            Carolina University and a licensed professional geologist
            in three states (FL, NC, SC).
        </p>
    </div>
</div>


<!--<div class="section-title">
</div>
<div id="title-divider"></div>-->
<h3>Web Development Team</h3>
<div class="container">
    <div class="row">
        <div class="pull-left">
            <img class="dev-pic" src="images/devs/brian.jpg"/>
        </div>
        <p class="col-md-8 col-xs-12">
            <br>
            <b>Brian Lenau</b> - Junior Computer Science major at Western
            Carolina University and current member of the web development
            team for the Beach Nourishment project.
        </p>
    </div>
    <p></p>

    <div class="row">
        <div class="pull-left">
            <img class="dev-pic" src="images/devs/holliday.jpg"/>
        </div>
        <p class="col-md-8 col-xs-12">
            <br>
            <b>Dr. Mark Holliday</b> - Computer science professor at
            Western Carolina University and supervisor of
            web development for the Beach Nourishment Project.
        </p>
    </div>
</div>