<!doctype html>	


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="javascript/states.js"></script>
<script type="text/javascript" src="javascript/useful_function.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="javascript/map.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="javascript/database.js"></script>

<tr>
    <td>
     <h2>{{{fullStateName}}}</h2>
     <select name="beaches" id="beaches" onChange="moveMap(this.options[this.selectedIndex].value);">
       <option value="{{{state}}}">Select a beach</option>
       <option value="{{{state}}}">View the original map</option>
     </select>
    </td>
</tr>

<tr>
   <td>
     <select name="states" id="states" onChange="if(this.value) window.location.href=this.value, '_top'">
       <option value=".">Select another state</option>
       <option value=".">Home</option>
       <option value="/oneState?state=AL">Alabama</option>		
       <option value="/oneState?state=CA">California</option>		
       <option value="/oneState?state=CT">Connecticut</option>		
       <option value="/oneState?state=DE">Delaware</option>		
       <option value="/oneState?state=FL">Florida</option>		
       <option value="/oneState?state=GA">Georgia</option>		
       <option value="/oneState?state=LA">Louisiana</option>		
       <option value="/oneState?state=MA">Massachusetts</option>		
       <option value="/oneState?state=MD">Maryland</option>		
       <option value="/oneState?state=ME">Maine</option>		
       <option value="/oneState?state=MS">Mississippi</option>		
       <option value="/oneState?state=NC">North Carolina</option>		
       <option value="/oneState?state=NJ">New Jersey</option>		
       <option value="/oneState?state=NH">New Hampshire</option>		
       <option value="/oneState?state=NY">New York</option>		
       <option value="/oneState?state=RI">Rhode Island</option>		
       <option value="/oneState?state=SC">South Carolina</option>		
       <option value="/oneState?state=TX">Texas</option>		
       <option value="/oneState?state=VA">Virginia</option>		
       <option value="/oneState?state=WA">Washington</option>		
     </select>
   </td>
</tr>

<tr>
  <td>
    <table cols="3" id="totals" style="visibility: hidden;">
      <tr>
        <td align="right">
          <b>State Totals:</b>
        </td>
        <td width="150px">
          <font size="2px">Episodes:</font>
        </td>
        <td align="left">
          <input type="text" id="total_episodes" class="textBox totals"
            style="font-size: 12px; text-align: right;"
            size="20" readonly />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <font size="2px">Cost:</font>
        </td>
        <td align="left">
          <input type="text" id="total_cost" class="textBox totals"
             style="font-size: 12px; text-align: right;"
             size="20" readonly />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <font size="2px">Cost (in 2014 dollars):</font>
        </td>
        <td align="left">
          <input type="text" id="total_2010cost" class="textBox totals"
             style="font-size: 12px; text-align: right;"
             size="20" readonly />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <font size="2px">Volume (cubic yards):</font>
        </td>
        <td align="left">
          <input type="text" id="total_volume" class="textBox totals"
               style="font-size: 12px; text-align: right;"
               size="20" readonly />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <font size="2px">Length (feet):</font>
        </td>
        <td align="left">
          <input type="text" id="total_length" class="textBox totals"
              style="font-size: 12px; text-align: right;"
              size="20" readonly />
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
    <td>
        <table cols="1" align="center">
           <tr>
             <td align="center">
               <div id="map_canvas"></div>
             </td>
           </tr>
         </table>
    </td>
</tr>

<tr>
  <td>
    <div id="heatkey" class="eastkey" style="visibilty: hidden;">
      <div id="minDiv" class="min">
        <input id="min" type="text" class="textBox" size="35" readonly style="font-weight: bold;" />
      </div>
      <div id="maxDiv" class="max">
        <input id="max" type="text" class="textBox" size="35" readonly style="font-weight: bold;" />
      </div>
      <br />
      <div class="heat-img">
         <img id="key_img" alt="heat_key" src="images/heat_key.png" style="visibility: hidden; border-width: 0px;" />
      </div>
    </div>
  </td>
</tr>

<tr>
  <td>
    <table cols="4"  style="position: relative; right: -170px;">
      <tr>
        <form name="radios" id="radios">
          <td style="padding: 15px;">
            <b>Sort by:</b>
          </td>
          <td style="padding: 15px;">
            <label for="episodes">
              <input type="radio" id="episodes" name="sort" value="Episodes"
                  checked onClick="reDrawMap();" />Episodes
            </label>
          </td>
          <td style="padding: 15px;">
            <label for="cost">
              <input type="radio" id="cost" name="sort" value="Cost"
                   onClick="reDrawMap();" />Cost
            </label>
          </td>
          <td style="padding: 15px;">
            <label for="volume">
              <input type="radio" id="volume" name="sort" value="Volume"
                   onClick="reDrawMap();" />Volume (cubic yards)
            </label>
          </td>
        </form>
      </tr>
    </table>
  </td>
</tr>
