/*SVG Mapi Part of the Home Page*/
svg {height:45vw; }
path {
  fill:#004d99;
  transition: .6s fill;
}

/*Makes the SVG map hover and light up when on it*/
path.beachState {
  fill:#009E66;
  transition: .6s fill;
}

path.beachState:hover {
    fill: #b3d9ff;
}


/*The select tag for the Home Page*/
#homeSel {
  width: 100%;
  padding: 5%;
  border: none;
  color: #7F7F7F;
  font-weight: bold;
}

/** page title **/
.section-title{
  padding-top: 15px;
  padding-bottom: 15px;
}

.facebook-logo {
  float: right;
}

.wcu-logo {
  float: right;
}

/*Map Canvas for the Google Map*/
#map_canvas {
  display: block;
  height: 472px;/*472*/
  width: 80%;
}
/*Cost visualization graph*/
#cost_canvas {
  background: transparent;
  height: 370px;/*472*/
  width: 80%;
/*
  width: 370px;
  height: 370px;
  position: relative;
  top: 15px;
  left: 30px;
  padding: 0;
  float: left;
  z-index: 100;
  */
}
/*Volume canvas for google maps*/
#volume_canvas {
  background: transparent;
  height: 370px;/*472*/
  width: 80%;
/*
  width: 370px;
  height: 370px;
  position: relative;
  top: 15px;
  left: 30px;
  margin: auto;
  padding: 0;
  float: right;
  z-index: 100;
  */
}


/*Heat key for the results page*/
.heat-img {
    background-color: transparent;
    position: relative;
    top: -40px;
}

.eastkey {
  margin: 0px;
  padding: 0px;
  float: right;
  position: relative;
  /top: -60px;
  left: -60px;
}

.westkey {
  margin: 0px;
  padding: 0px;
  float: right;
  position: relative;
  top: -60px;
  left: -555px;
}

.textBox {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  font-size: 12px;
  font-family: "Arial";
}

.min {
  margin: 0px;
  padding: 0px;
  position: relative;

}

.max {
  position: relative;
  top: -20px; /*-25*/
  left: 160px;
}

.heat-img {
  background-color: transparent;
  position: relative;
  top: -40px;
}

.stats{
  margin: 0px;
  padding: 0px;
  float: auto;
  position: relative;
}

.table-header {
  font-weight: bold;
  text-align: left;
  font-family: "san-serif";
}

.totals {
  font: 12px "san-serif";
  text-align: right;
}

/*Select tag for results Page, visual, table*/
#beaches {
  width:50%;
  padding: 1%;
  border: none;
  color: #7F7F7F;
  font-weight: bold;
    /*margin-left: 20%;*/
  float: center;
}

/*Select Tag for the Results Page, visual, table*/
#states {
  width:50%;
  padding: 1%;
  border: none;
  color: #7F7F7F;
  font-weight: bold;
  /*margin-left: 20%;*/
  float: center;

}

/*Select tag for the Visual page, table */
#perpage {
    width:50%;
    padding: 1%;
    border: none;
    color: #7F7F7F;
    font-weight: bold;
    /*margin-left: 20%;*/
    float: center;
}


/*About page in Beach Nourishment*/

.developer {
  display: table-cell;
  /*margin-top: 15px;
  width: 850px;
  min-height: 140px;*/
  vertical-align: middle;
}

.developer p {
  float: left;
  width: 650px;
  padding-top: 25px;
}

.dev-pic {
  width: 120px;
  height: 120px;
  float: left;
  border-radius: 10px;
}
